<!DOCTYPE html>
<html>
    <head>
        <title>
            Todo List
        </title>
    </head>
    <body>
        <header>
            <main>
                <div>
                    <h1>Are you sure?</h1>
                    <form method="post">
                        {% csrf_token %}
                    <button>Delete</button>
                     </form>
                </div>
            </main>
        </header>
    </body>
</html>