<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'todo_list_update' detail.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' detail.id %}">Delete</a>

            </nav>
            <main>
                <div>
                    <h1>{{ name }}</h1>
                    <h2>Tasks</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in detail.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' item.id  %}"">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </header>
    </body>
</html>
