<!DOCTYPE html>
<html>
    <head>
        <title>
            Todo List
        </title>
    </head>
    <body>
        <header>
            <h1>Update list</h1>
            <main>
                <div>
                     <form method="post" >
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type= "text" name="name">Update</button>
                    </form>
                </div>
            </main>
        </header>
    </body>
</html>