<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <main>
                <div>
                    <h1>My lists</h1>
                     <p>
                        <a href="{% url 'todo_list_create' %}">Create a list</a>
                        <a href="{% url 'todo_item_create' %}">Create an item</a>

                    </p>
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Number of items</th>
                        </thead>
                        <tbody>
                            {% for item in lists %}
                                <tr>
                                    <td>
                                        <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                                    </td>
                                    <td>{{ item.items.all | length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </header>
    </body>
</html>
